<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=}, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Crear Producto</h2>
    <form action="/products/create" method="POST">
        <input type="text" name="id" placeholder="Ingrese el id">
        <br>
        <input type="text" name="nombre" placeholder="Ingrese el nombre">
        <br>
        <input type="text" name="precio" placeholder="Ingrese el precio">
        <br>
        <input type="text" name="descripcion" placeholder="Ingrese la descripcion">
        <br>
        <input type="text" name="marca" placeholder="Ingrese la marca">
        <br>
        <input type="text" name="stock" placeholder="Ingrese el stock">
        <br>
        <button type="submit">Crear</button>
</body>
</html>